.labelPasswordInput {
  position: relative;
  user-select: none;
}

.labelPasswordInput__passwordShow {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 16px;

  transform: translateY(-50%);
}
